h1 {
    text-align: center;
    font-size:xx-large;
    color:white;
    
}

h2 {
    color:rgb(86, 85, 184);
    text-align: center;
  }
  
body {
    background-color: rgb(48, 26, 47);
  } 
    
img {
    width: 816px;
    height:500px;
  }

p {
    font-size: large;
}

div {
  display:flex;
}


  
  .intro {
    background-color: rgb(161, 120, 23)
  }
  
  .sidebar {
    width: 20%;
    height:500px;
    float: left;
    background-color: rgb(185, 185, 143);
  }

  #centID {
    justify-content: center;
   
  }